[submodule "razor"]
	path = razor
	url = https://github.com/adamdusty/razor.git
[submodule "echidna"]
	path = echidna
	url = https://github.com/adamdusty/echidna.git
[submodule "admat"]
	path = admat
	url = https://github.com/adamdusty/admat.git
[submodule "adizzle"]
	path = adizzle
	url = https://github.com/adamdusty/adizzle.git
[submodule "seed"]
	path = seed
	url = https://github.com/adamdusty/pf-seed.git
